.chart {
	height: 230px;
	width: 100%;
}

.chart rect {
	fill: steelblue;
	stroke: white;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

#filterMenu {
	width: 320px;
	width: 100%;
	float: left;
}

#filterMenu input {
	display: block;
}


#fetchMoreLink {
	float: right;
	padding: 10 20 0 0;
}

.auditContent table {
	width: 100%;
}

.auditContent table td {
	background-color: lightgray;
}

#auditEntryCountGraphContainer {
	width: 100%;
	margin: 10px;
}