.button {
	border: solid 1px #b7b7b7;
}

.button2 {
    display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
    font-size: 14px;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
    color: #606060;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
	background-color: aqua;
    border-radius: .5em;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.activity {
	width:70px;
	height:15px;
	position: absolute;
	top:25px;
	left:25px;
}

.activity:after {
	content: "Activity";
}

.social {
	width:70px;
	height:15px;
	position: absolute;
	top:25px;
	left:175px;
}

.social:after {
	content: "Social";
}

.focus {
	width:70px;
	height:15px;
	position: absolute;
	top:25px;
	left:325px;
}

.focus:after {
	content: "Focus";
}

.call {
	width:70px;
	height:15px;
	position: absolute;
	top:25px;
	left:475px;
}

.call:after {
	content: "Calls";
}

.up {
	width:70px;
	height:15px;
	position: absolute;
	top:25px;
	left:625px;
}

.up:after {
	content: "forward";
}

.down {
	width:70px;
	height:15px;
	position: absolute;
	top:25px;
	left:775px;
}

.down:after {
	content: "backward";
}

.label {
	width: 90px;
	height: 15px;
	position: absolute;
	top:28px;
	left: 925px;
	text-align: center;
	text-decoration: none;
    font-size: 17px;
}

.answerListHeatMapContainer {
	width:100%;
	position: absolute;
	top:100px;
	left:0px;
}

.buttons {
    width:159px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom; -20px;
}

