{% extends "backboneLayout.html" %}

{% load straight_include %}

{% block title %}
Audit Logs
{% endblock %}


{% block scripts %}
    
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/audit.css" />

<script src="http://d3js.org/d3.v2.js"></script>
    
<script>
    AUDIT_API_URL = "{% url api_dispatch_list api_name="personal_data" resource_name="auditentry" %}";
    AUDIT_COUNT_API_URL = "{% url api_dispatch_list api_name="personal_data" resource_name="auditentrycount" %}";
</script>

<script type="text/html" id="auditEntryTemplate">
{% straight_include "auditEntryTemplate.mustache" %}
</script>

<script src="{{ STATIC_URL }}js/audit.js"></script>

{% endblock %}

{% block content %}
<div id="filterMenu">
    <h1>OpenPDS</h1>
    <h3>Audit Log</h3>
	<div>
		<label for="fromDate">Start date:</label>
		<input type="text" id="fromDate" />
	</div>
	<div>
		<label for="toDate">End date:</label>
		<input type="text" id="toDate" />
	</div>
	<div>
		<label for="script">Script contains:</label>
		<input type="text" id="script" />
	</div>
	<div>
		<label for="requester">Requester contains:</label>
		<input type="text" id="requester" />
	</div>
</div>
<div class="auditContent">
	<div id="auditEntryCountGraphContainer">
	<h2>Requests per day</h2>
	</div>
	<div id="auditEntriesContainer">
		<div id="auditEntriesList"></div>
		<a href="#" onclick="return false;" id="fetchMoreLink">more...</a>
	</div>
</div>
<div style="clear: both;">
</div>
{% endblock %}
