<tr class="audit-entry" id = "Container{{ id }}" style="background-color: grey;">
<td>{{ timestamp_time }}</td>
<td>
    <div>{{ method}}: {{ script }}</div>
    <div>{{ scopes }}</div>
</td>
<td>
    <div>{{ token }}</div>
    <div>{{ requester.uuid }}</div>
    <div>{{ system_entity_toggle }}</div>
</td>
</tr>