<div id="Container{{ _id }}">
	<input type="checkbox" value="{{ _id }}" id="{{ _id }}" class="roleCheckBox" /> 
	<label for="{{ _id }}">{{ key }}</label>
	<ul>
		{{#ids}}
		<li>{{.}}</li>
		{{/ids}}
	</ul>
</div>
