{% extends "base.html" %}

{% load straight_include %}

{% block title %}
Role Admin
{% endblock %}

{% block scripts %}
	
<script>
	ROLE_API_URL = "{% url api_dispatch_list api_name="roles" resource_name="role" %}";
</script>

<script type="text/html" id="roleTemplate">
{% straight_include "roleTemplate.mustache" %}
</script>

<script src="{{ STATIC_URL }}js/role.js"></script>

{% endblock %}

{% block content %}

<h2>Add a role</h2>
Key: <input id="keyTextBox" type="text" />
Ids (csv): <input id="idsTextBox" type="text" />
<input class="createRoleButton" type="button" value="Add Role" />
<h2>Current Roles</h2>
<input type="Button" class="deleteSelectedRolesButton" value="Delete Selected" />
<div id="roles">
</div>

{% endblock %}
       

