# XXX add specific version numbers once we can confirm the latest stable versions all work
# XXX need to confirm that the Registry and Resource Servers have the same dependencies?
django==1.4.13
django-tastypie==0.9.11
django-celery-with-mongodb==3.0
pymongo==2.8rc0  
requests
django-extensions==1.4.6
django-uni-form==0.9.0
cluster==1.2.0
python-gcm==0.1.5
SparqlWrapper==1.6.4
django-4store==0.3
pycrypto==2.6.1

