{% extends "backboneLayout.html" %}

{% block title %}
Recent Places
{% endblock %}

{% block more_scripts %}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script>
    ANSWERLIST_API_URL = "{% url api_dispatch_list api_name="personal_data" resource_name="answerlist" %}";
</script>

<script src="{{ STATIC_URL}}js/answerList.js"></script>
<script src="{{ STATIC_URL }}js/urlEncode.js"></script>
<script src="{{ STATIC_URL }}js/jquery.sparql.js"></script>

<script type="text/javascript" src="http://sharonmyrtle.com/Heatmaps/heatmap.js"></script>
<script type="text/javascript" src="http://sharonmyrtle.com/Heatmaps/heatmap-gmaps.js"></script>

   
<script src="http://www.google.com/jsapi"></script>
<script>
	google.load('jquery','1.7.1');
</script>

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}css/jquery.tidy.table.min.css">

<script src="{{ STATIC_URL}}js/jquery.tidy.table.min.js"></script>
<script>

function detectOptin(){
    if($("#opt-in").is(":checked")){
                $('#answerListStatsContainer')
                .TidyTable({
                        columnTitles : ['Rank','Name'],
                        columnValues : [
                                ['1','Anon19'],
                                ['2','Anon1'],
                                ['3','Anon43'],
                                ['4','<b>You</b>'],
                                ['5','Bob'],
                                ['6','Anon12'],
                                ['7','Alice'],
                                ['8','Sharon'],
                                ['9','Anon3']
                        ]
                });
    }

}

$('#optin').change(function() {
        alert("changed");
    });

//$(document).ready(function() {
$(window).load(function(){
	$('#answerListStatsContainer')
		.TidyTable({
			columnTitles : ['Rank','Name'],
			columnValues : [
				['1','Anon19'],
				['2','Anon1'],
				['3','Anon43'],
				['4','Anon4'],
				['5','Bob'],
				['6','Anon12'],
				['7','Alice'],
				['8','Sharon'],
				['9','Anon3']
			]
		});
});

</script>

    <style type="text/css">
        #answerListMapContainer {
            width: 575px;
            height: 350px;
        }
	.ui-btn {
            width: 150px !important;
	}
    </style>


{% endblock %}

{% block content %}

<div id="answerListStatsContainer"></div>

<div id="note">
<p>Your name is not currently listed on the leaderboard.</p>
<input type="checkbox" name="optin" id="optin" class="custom" data-mini="true" />
<label for="optin">Opt-in</label>
</div>

<div id="footer" data-role="footer">
</div>

{% endblock %}
