{% extends "base.html" %}

{% block title %}
smartCATCH
{% endblock %}

{% block scripts %}
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <link rel="import" href="/static/mgh/contents/graph.html">
  <link rel="import" href="/static/mgh/contents/line_graph.html">
  <link type="text/css" rel="stylesheet" href="/static/mgh/contents/stylesheet.css">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <link rel="import" href="/static/mgh/components/font-roboto/roboto.html">
  <link rel='import' href="/static/mgh/components/core-icon-button/core-icon-button.html">
  <link rel="import" href="/static/mgh/components/core-header-panel/core-header-panel.html">
  <link rel="import" href="/static/mgh/components/core-toolbar/core-toolbar.html">
  <link rel="import" href="/static/mgh/components/paper-tabs/paper-tabs.html">
  
  <style>
	html{
		width:350px;
		border: 3px solid black;
	}
	html,body {
		background-color:#f6f6f6
		font-family: 'RobotoDraft', sans-serif;
	  }
	  core-header-panel {
		height: 100%;
	  }
	  core-toolbar {
		background: #03a9f4;
		color: white;
	  }
	  paper-tabs {
		width: 100%;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	  }
	  .scontainer {
		width: 80%;
		margin: 50px auto;
	  }
	  @media (min-width: 481px) {
		paper-tabs {
		  width: 45em;
		}
		.scontainer {
		  width: 400px;
		}
	  }
	</style>
{% endblock %}

{% block content %}
<div id="splash">
	<!--<div id="logo-border-white">
		<img id="Logo" src="/static/mgh/SmartCatch_design_app/Img/general/Logo_white.png"/>
	</div>-->
      {% if not control %}
	<center><img id="splashHeart"/></center>
	<center><div class="splashText" id="splashEncourage1"></div></center>
	<center><div class="splashText" id="splashEncourage2"></div></center>
	<center><div class="splashText" id="splashUnderscore">_</div></center>
	<center>	
		<div id="rectContainer">
			<img class='splashRect' id="bar5" src="/static/mgh/SmartCatch_design_app/Img/splashscreen/emptybar.png"/>
			<br>
			<img class='splashRect' id="bar4" src="/static/mgh/SmartCatch_design_app/Img/splashscreen/emptybar.png"/>
			<br>
			<img class='splashRect' id='bar3' src="/static/mgh/SmartCatch_design_app/Img/splashscreen/emptybar.png"/>
			<br>
			<img class='splashRect' id='bar2' src="/static/mgh/SmartCatch_design_app/Img/splashscreen/emptybar.png"/>
			<br>
			<img class='splashRect' id='bar1' src="/static/mgh/SmartCatch_design_app/Img/splashscreen/emptybar.png"/>
		</div>
	</center>
	
	<div id="splashFooter"></div>
      {% endif %}
</div>


<script>

var goalD=[{{ surveyscores.goal }}];//data for goal //data inputs here
var goalAvgD=[ {{ avgGoal }}];//goal average
var socD=[{{ socialhealth.user.social }}];//data for social
var socAvgD=[ {{ avgSocial }} ];//for social average
var actD=[{{ socialhealth.user.activity }}];//for activity
var actAvgD=[ {{ avgActivity }} ];//for activity average
var slpD=[{{ surveyscores.sleep }}];//for sleep
var slpAvgD=[{{ avgSleep }}];//for sleep average
var regD=[{{ socialhealth.user.focus }}];//for regularity
var regAvgD=[{{ avgFocus }}];//for regularity average
var gluD=[{{ surveyscores.glucose }}];// glucose
var gluAvgD=[{{ avgGlucose }}];//glucose average
var medD=[{{ surveyscores.meds }}];// medication
var medAvgD=[{{ avgMeds }}];//medication average
var gluGAvgD=[98,90,29,87,54]
var medGAvgD= [76,89,95,86,45]
var socGAvgD=[{{socialhealth.user_group.social}}];//for social average
var actGAvgD=[{{socialhealth.user_group.activity}}];//for activity group average
var regGAvgD=[{{socialhealth.user_group.focus}}];//for regularity average
var slpGAvgD=[12,96,24,91];

// date
var d = new Date();
var day = d.getDate();
var month = d.getMonth();
var dayOfWeek= d.getDay();
var weeks=1;
var months=["Jan","Feb","Mar","Apr","May","June","July","Aug","Sep","Oct"," Nov","Dec"];
if(dayOfWeek==0){
	weeks++};
	
$(".date").text(months[month]+" "+day + " / week " + weeks);
//averages data
var Avg=function(data){
	var sum=0;
	for(var x = 0; x<data.length;x++)
		{sum+=data[x]};
	var avg=sum/data.length;
	return Math.round(avg);
	};

var numCompare= function(present, average){
	var diff= Avg(present)-Avg(average);
	var percentChange=((diff/Avg(average))*100);
	return percentChange
};
//sorts bars
var barsAvg=[Avg(socD),Avg(actD),Avg(regD), Avg(slpD), Avg(gluD), Avg(medD)];
var bars=['soc','act','reg', 'slp', 'glu', 'med'];
var sortedBars=[];
barsAvg.sort(function(a,b){return a-b});
for(sort1=0;sort1<bars.length;sort1++){
	for(sort=0;sort<bars.length;sort++){
		if(barsAvg[sort1]==(Avg(eval(bars[sort]+"D")))){
			sortedBars.push(bars[sort]+"Card");	
			console.log(sort);
			}
		}
	}
console.log(sortedBars);
for(move=0;move<sortedBars.length;move++){
	$("#"+sortedBars[move]).css("transform","translate(30px, " + (370+ 330*move)+"px");
	$("#"+sortedBars[move]+"Line").css("transform","translate(0px, " + (450*move)+"px");

	};

//person goal stuff
var goal="stress level";
var goalImage="";
var goalQuestion="";
var goalOptions="";
$('#goalTitle').text(goal);
switch(goal.toUpperCase()){
	case "FEET CARE":
		goalImage="/static/mgh/SmartCatch_design_app/Img/category_icons/feet_01.png";
		console.log(goal+ "1");
		goalQuestion="Have you checked your feet today?";
		goalOptions='<div class="qNum feetQNum" ></div><div class="questionText feetQ"></div><br><input class="feetQ" type="radio" name="feetQ" value="yes" id="feetY"><label for="feetY" class="feetQ"><div class="qButton feetButton">Yes</div></label><input class="feetQ" type="radio" name="feetQ" value="no" id="feetN"><label for="feetN" class="feetQ"><div class="qButton feetButton">No</div><br>'
		break;
	case "SMOKING":
		goalImage="/static/mgh/SmartCatch_design_app/Img/category_icons/smoking_01.png";
		console.log(goal+ "2");
		goalQuestion="Rate how many less cigarettes you smoked today compared to yesterday on a scale of 0 ( I smoked the same or more today) to 40 less than yesterday. "
		goalOption='<input class="smokingQ" type="range" data-show-value="true" min="0" max="40"></br>'
		break;
	case "EATING HEALTHY":
		goalImage="/static/mgh/SmartCatch_design_app/Img/category_icons/eathealthy_01.png";
		console.log(goal+ "3");
		goalQuestion="Rate your eating today on a scale of 1  (I really made bad food choices today)  to 10 (I ate really healthy-today)"
		goalOption='<input class="eatingQ" type="range" data-show-value="true" min="0" max="10"></br>'
		break;
	case "STRESS LEVEL":
		goalImage="/static/mgh/SmartCatch_design_app/Img/category_icons/stress_01.png";
		console.log(goal+ "4");
		goalQuestion="Rate your stress reduction techniques today on a scale of 1 (I practiced very good techniques to reduce my feelings of stress today) to 10 ( I was very stressed out and I did nothing to help myself calm down). "
		goalOption='<input class="stressQ" type="range" data-show-value="true" min="0" max="10"></br>'
		break;
	}
$('#goalImg').attr('src',goalImage);
//bar charts
d3.select("#act")
		.data([Avg(actD)])
		.style("width",function(d) {return d +"%";});
		
		
d3.select("#actAvg")
		.data([Avg(actAvgD)])
		.style("width",function(d) {return d +"%";});
		
d3.select("#goal")
		.data([Avg(goalD)])
		.style("width",function(d) {return d +"%";});
		
		
d3.select("#goalAvg")
		.data([Avg(goalAvgD)])
		.style("width",function(d) {return d +"%";});
		
		
d3.select("#soc")
		.data([Avg(socD)])
		.style("width",function(d) {return d +"%";});
		
		
d3.select("#socAvg")
		.data([Avg(socAvgD)])
		.style("width",function(d) {return d +"%";});

		
d3.select("#reg")
		.data([Avg(regD)])
		.style("width",function(d) {return d +"%";});
		
		
d3.select("#regAvg")
		.data([Avg(regAvgD)])
		.style("width",function(d) {return d +"%";});
		
d3.select("#slp")
		.data([Avg(slpD)])
		.style("width",function(d) {return d +"%";});
		
		
d3.select("#slpAvg")
		.data([Avg(slpAvgD)])
		.style("width",function(d) {return d +"%";});
		
d3.select("#slp")
		.data([Avg(slpD)])
		.style("width",function(d) {return d +"%";});
		
		
d3.select("#slpAvg")
		.data([Avg(slpAvgD)])
		.style("width",function(d) {return d +"%";});

d3.select("#glu")
		.data([Avg(gluD)])
		.style("width",function(d) {return d +"%";});

d3.select("#gluAvg")
		.data([Avg(gluAvgD)])
		.style("width",function(d) {return d +"%";});
		
		
d3.select("#med")
		.data([Avg(medD)])
		.style("width",function(d) {return d +"%";});
		
d3.select("#medAvg")
		.data([Avg(medAvgD)])
		.style("width",function(d) {return d +"%";});
		
d3.select("#actGAvg")
		.data([Avg(actGAvgD)])
		.style("width",function(d) {return d +"%";});
		

d3.select("#socGAvg")
		.data([Avg(socGAvgD)])
		.style("width",function(d) {return d +"%";});
		
d3.select("#regGAvg")
		.data([Avg(regGAvgD)])
		.style("width",function(d) {return d +"%";});

d3.select("#medGAvg")
		.data([Avg(medGAvgD)])
		.style("width",function(d) {return d +"%";});

d3.select("#gluGAvg")
		.data([Avg(gluGAvgD)])
		.style("width",function(d) {return d +"%";});

d3.select("#slpGAvg")
		.data([Avg(slpGAvgD)])
		.style("width",function(d) {return d +"%";});
//how well text
var doingWell="You are doing well / ";
var doingokay="You can do better / ";
var doingPoor="Not that great / ";
//color change for bars
var socialColor= 'white';
var activityColor='white';
var regularityColor='white';
var goalColor='white';
var sleepColor="white";
var glucoseColor='white';
var medicationColor="white";

if(Avg(socD)<=50){
	socialColor='#Fc4c4c';
	$('#socAvg').addClass('stripe-r');
	}
else if(Avg(socD)>=70){
	socialColor='#27dc84';
	$('#socAvg').addClass('stripe-g');}
else{
	socialColor='#f9ce20';
	$('#socAvg').addClass('stripe-y');};
	
if(Avg(actD)<=50){
	activityColor='#Fc4c4c';
	$('#actAvg').addClass('stripe-r');}
else if(Avg(actD)>=70){
	activityColor='#27dc84';
	$('#actAvg').addClass('stripe-g');}
else{
	activityColor='#f9ce20';
	$('#actAvg').addClass('stripe-y');};
	
if(Avg(regD)<=50){
	regularityColor='#Fc4c4c';
	$('#regAvg').addClass('stripe-r');}
else if(Avg(regD)>=70){
	regularityColor='#27dc84';
	$('#regAvg').addClass('stripe-g');}
else{
	regularityColor='#f9ce20';
	$('#regAvg').addClass('stripe-y');};
	
if(Avg(slpD)<=50){
	sleepColor='#fc4c4c';
	$('#slpAvg').addClass('stripe-r');}
else if(Avg(slpD)>=70){
	sleepColor='#27dc84';
	$('#slpAvg').addClass('stripe-g');}
else{
	sleepColor='#f9ce20';
	$('#slpAvg').addClass('stripe-y');};

if(Avg(gluD)<=50){
	glucoseColor='#Fc4c4c';
	$('#gluAvg').addClass('stripe-r');}
else if(Avg(gluD)>=70){
	glucoseColor='#27dc84';
	$('#gluAvg').addClass('stripe-g');}
else{
	glucoseColor='#f9ce20';
	$('#gluAvg').addClass('stripe-y');};
	
if(Avg(medD)<=50){
	medicationColor='#Fc4c4c';
	$('#medAvg').addClass('stripe-r');}
else if(Avg(medD)>=70){
	medicationColor='#27dc84';
	$('#medAvg').addClass('stripe-g');}
else{
	medicationColor='#f9ce20';
	$('#medAvg').addClass('stripe-y');};
	
if(Avg(goalD)<=50){
	goalColor='#Fc4c4c';
	$('#goalAvg').addClass('stripe-r');}
else if(Avg(slpD)>=70){
	goalColor='#27dc84';
	$('#goalAvg').addClass('stripe-g');}
else{
	goalColor='#f9ce20';
	$('#goalAvg').addClass('stripe-y');};
	
$('#socWeekScore').text(Avg(socD)).css('color',socialColor);
$('#actWeekScore').text(Avg(actD)).css('color',activityColor);
$('#regWeekScore').text(Avg(regD)).css('color',regularityColor);
$('#slpWeekScore').text(Avg(slpD)).css('color',sleepColor);
$('#goalWeekScore').text(Avg(goalD)).css('color',goalColor);
$('#medWeekScore').text(Avg(medD)).css('color',medicationColor);
$('#gluWeekScore').text(Avg(gluD)).css('color',glucoseColor);
$('#regAvgScore').text(Avg(regAvgD)).css('color',regularityColor);
$('#goalAvgScore').text(Avg(goalAvgD)).css('color',goalColor);
$('#socAvgScore').text(Avg(socAvgD)).css('color',socialColor);
$('#actAvgScore').text(Avg(actAvgD)).css('color',activityColor);
$('#slpAvgScore').text(Avg(slpAvgD)).css('color',sleepColor);
$('#medAvgScore').text(Avg(medAvgD)).css('color',medicationColor);
$('#gluAvgScore').text(Avg(gluAvgD)).css('color', glucoseColor);
$('#actGroupScore').text(Avg(actGAvgD));
$('#regGroupScore').text(Avg(regGAvgD));
$('#socGroupScore').text(Avg(socGAvgD));
$('#slpGroupScore').text(Avg(slpGAvgD));
$('#medGroupScore').text(Avg(medGAvgD));
$('#gluGroupScore').text(Avg(gluGAvgD));

$('.socialBars').css('background-color',socialColor);
$('.activityBars').css('background-color',activityColor);
$('.regularityBars').css('background-color',regularityColor);
$('.sleepBars').css('background-color',sleepColor)
$('.medicationBars').css('background-color',medicationColor)
$('.glucoseBars').css('background-color',glucoseColor)
$('.goalBars').css('background-color',goalColor)
		
setTimeout(redirectSplash, 4000);

function redirectSplash() {
	$("#content").fadeOut();
  window.location = "http://mgh.media.mit.edu:8080/visualization/smartcatch/myresults?bearer_token={{ request.GET.bearer_token }}&datastore_owner={{ request.GET.datastore_owner }}"
}

//splash screen
$("#splash").click(function(){
	redurectSplash();
});
	
var allBarsAvg=[Avg(socD),Avg(actD),Avg(regD), Avg(slpD), Avg(goalD), Avg(gluD), Avg(medD)];
var barFilled=0;
for (var a in allBarsAvg) {
      if (allBarsAvg[a] > 70) {
	    barFilled += 1;
      }
}


if(barFilled>=4){
	var splashColor='#27dc84';
	$('#splashEncourage1').text('Keep going,');
	$('#splashEncourage2').text('You are doing great!');
	$('#splashHeart').attr('src','/static/mgh/SmartCatch_design_app/Img/splashscreen/goodheart.png')
	}
else if(barFilled>=2){
	var splashColor='#f9ce20';
	$('#splashEncourage1').text('Almost there,');
	$('#splashEncourage2').text('Keep working on!');
	$('#splashHeart').attr('src','/static/mgh/SmartCatch_design_app/Img/splashscreen/mediumheart.png')
	}
else{
	var splashColor='#FF5f5f';
	$('#splashEncourage1').text('You can do better,');
	$('#splashEncourage2').text('Keep trying!');
	$('#splashHeart').attr('src','/static/mgh/SmartCatch_design_app/Img/splashscreen/badheart.png')
};

var rectColor=splashColor;
$('#splash').css('background-color',splashColor);
$('#splashHead').css('background-color', splashColor);

for(fill=1; fill<=barFilled; fill++){
	var barFilling= "#bar" + fill ;
	$(barFilling).attr('src','/static/mgh/SmartCatch_design_app/Img/splashscreen/fullbar.png');
	};
//for(notfill=5; notfill=(5-barFilled); notfill-=1){
//	var barEmpty ="#bar" +notfill;
//	$(barEmpty).atr
//};

</script>
{% endblock %}
