{% extends "base.html" %}

{% block title %}
smartCATCH
{% endblock %}

{% block scripts %}
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <link rel="import" href="/static/mgh/contents/graph.html">
  <link rel="import" href="/static/mgh/contents/line_graph.html">
  <link type="text/css" rel="stylesheet" href="/static/mgh/contents/stylesheet.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <link rel="import" href="/static/mgh/components/font-roboto/roboto.html">
  <link rel='import' href="/static/mgh/components/core-icon-button/core-icon-button.html">
  <link rel="import" href="/static/mgh/components/core-header-panel/core-header-panel.html">
  <link rel="import" href="/static/mgh/components/core-toolbar/core-toolbar.html">
  <link rel="import" href="/static/mgh/components/paper-tabs/paper-tabs.html">
  
  <style>
	html{
		height:1280px;
		width:720px;
		border: 3px solid black;
	}
	html,body {
		background-color:#f6f6f6
		font-family: 'RobotoDraft', sans-serif;
	  }
	  core-header-panel {
		height: 100%;
	  }
	  core-toolbar {
		background: #03a9f4;
		color: white;
	  }
	  paper-tabs {
		width: 100%;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	  }
	  .scontainer {
		width: 80%;
		margin: 50px auto;
	  }
	  @media (min-width: 481px) {
		paper-tabs {
		  width: 45em;
		}
		.scontainer {
		  width: 400px;
		}
	  }
	</style>
{% endblock %}

{% block content %}
<div id="mainPage">
	<div id="logo-border-blue">
		<img id="Logo" src="/static/mgh/SmartCatch_design_app/Img/general/Logo_blue.png"/>
	</div>
	
  <div id="subheader1">
  </div>
	
	<div id="sorted-lines"></div>
	
		<div id="socCardLine" class="lineGraph">
			<div class="lineLabel"><img class="graphPic" src="/static/mgh/SmartCatch_design_app/Img/category_icons/interactions_01.png" />Social</div>
			<div class="lineBack"></div><div id="socLine" class="Graph"></div>
		</div>
		
		<div id="actCardLine" class="lineGraph">
			<div class="lineLabel"><img class="graphPic" src="/static/mgh/SmartCatch_design_app/Img/category_icons/activity_01.png" />Activity</div>
			<div class="lineBack"></div><div id="actLine" class="Graph"></div>
		</div>
		
		<div id="regCardLine" class="lineGraph">
			<div class="lineLabel"><img class="graphPic" src="/static/mgh/SmartCatch_design_app/Img/category_icons/regularity_01.png" />Regularity</div>
			<div class="lineBack"></div><div id="regLine" class="Graph"></div>
		</div>
		
		<div id="slpCardLine" class="lineGraph">
			<div class="lineLabel"><img class="graphPic" src="/static/mgh/SmartCatch_design_app/Img/category_icons/sleep_01.png" />Sleep</div>
			<div class="lineBack"></div><div id="slpLine" class="Graph"></div>
		</div>
	
		<div id="gluCardLine" class="lineGraph">
			<div class="lineLabel"><img class="graphPic" src="/static/mgh/SmartCatch_design_app/Img/category_icons/blood_01.png" />Glucose</div>
			<div class="lineBack"></div><div id="gluLine" class="Graph"></div>
		</div>
	
		<div id="medCardLine" class="lineGraph">
			<div class="lineLabel"><img class="graphPic" src="/static/mgh/SmartCatch_design_app/Img/category_icons/drugs_01.png" />Medication</div>
			<div class="lineBack"></div><div id="medLine" class="Graph"></div>
		</div>
		
	<div id="footer"></div>
</div>

<script>
var goalD=[20,100,100,100,74];//data for goal //data inputs here
var goalAvgD=[32,30];//goal average
var socD=[20,100,100,50,74];//data for social
var socAvgD=[32,30];//for social average
var actD=[42,54,50,80];//for activity
var actAvgD=[42,54,74,80];//for activity average
var slpD=[100,100,50,80];//for sleep
var slpAvgD=[42,54,74,80];//for sleep average
var regD=[12,14,52,57];//for regularity
var regAvgD=[123,12,23,84];//for regularity average
var gluD=[1,2,3,4,5];// glucose
var gluAvgD=[23,75,78,90,82];//glucose average
var medD=[95,85,24,67,98,70];// medication
var medAvgD=[23,90,32,32,97];//medication average
var gluGAvgD=[98,90,29,87,54]
var medGAvgD= [76,89,95,86,45]
var socGAvgD=[70,32,30];//for social average
var actGAvgD=[13,14,74,89];//for activity average
var regGAvgD=[123,12,23,84];//for regularity average
var slpGAvgD=[12,96,24,91];


// date
var d = new Date();
var day = d.getDate();
var month = d.getMonth();
var dayOfWeek= d.getDay();
var weeks=1;
var months=["Jan","Feb","Mar","Apr","May","June","July","Aug","Sep","Oct"," Nov","Dec"];
if(dayOfWeek==0){
	weeks++};
	
$(".date").text(months[month]+" "+day + " / week " + weeks);
//averages data
var Avg=function(data){
	var sum=0;
	for(var x = 0; x<data.length;x++)
		{sum+=data[x]};
	var avg=sum/data.length;
	return Math.round(avg);
	};

var numCompare= function(present, average){
	var diff= Avg(present)-Avg(average);
	var percentChange=((diff/Avg(average))*100);
	return percentChange
};
//sorts bars
var barsAvg=[Avg(socD),Avg(actD),Avg(regD), Avg(slpD), Avg(gluD), Avg(medD)];
var bars=['soc','act','reg', 'slp', 'glu', 'med'];
var sortedBars=[];
barsAvg.sort(function(a,b){return a-b});
for(sort1=0;sort1<bars.length;sort1++){
	for(sort=0;sort<bars.length;sort++){
		if(barsAvg[sort1]==(Avg(eval(bars[sort]+"D")))){
			sortedBars.push(bars[sort]+"Card");	
			console.log(sort);
			}
		}
	}
console.log(sortedBars);
for(move=0;move<sortedBars.length;move++){
	$("#sorted-lines").append($("#"+sortedBars[move]+"Line"));
};

//person goal stuff
var goal="stress level";
var goalImage="";
var goalQuestion="";
var goalOptions="";
$('#goalTitle').text(goal);
switch(goal.toUpperCase()){
	case "FEET CARE":
		goalImage="/static/mgh/SmartCatch_design_app/Img/category_icons/feet_01.png";
		console.log(goal+ "1");
		goalQuestion="Have you checked your feet today?";
		goalOptions='<div class="qNum feetQNum" ></div><div class="questionText feetQ"></div><br><input class="feetQ" type="radio" name="feetQ" value="yes" id="feetY"><label for="feetY" class="feetQ"><div class="qButton feetButton">Yes</div></label><input class="feetQ" type="radio" name="feetQ" value="no" id="feetN"><label for="feetN" class="feetQ"><div class="qButton feetButton">No</div><br>'
		break;
	case "SMOKING":
		goalImage="/static/mgh/SmartCatch_design_app/Img/category_icons/smoking_01.png";
		console.log(goal+ "2");
		goalQuestion="Rate how many less cigarettes you smoked today compared to yesterday on a scale of 0 ( I smoked the same or more today) to 40 less than yesterday. "
		goalOption='<input class="smokingQ" type="range" data-show-value="true" min="0" max="40"></br>'
		break;
	case "EATING HEALTHY":
		goalImage="/static/mgh/SmartCatch_design_app/Img/category_icons/eathealthy_01.png";
		console.log(goal+ "3");
		goalQuestion="Rate your eating today on a scale of 1  (I really made bad food choices today)  to 10 (I ate really healthy-today)"
		goalOption='<input class="eatingQ" type="range" data-show-value="true" min="0" max="10"></br>'
		break;
	case "STRESS LEVEL":
		goalImage="/static/mgh/SmartCatch_design_app/Img/category_icons/stress_01.png";
		console.log(goal+ "4");
		goalQuestion="Rate your stress reduction techniques today on a scale of 1 (I practiced very good techniques to reduce my feelings of stress today) to 10 ( I was very stressed out and I did nothing to help myself calm down). "
		goalOption='<input class="stressQ" type="range" data-show-value="true" min="0" max="10"></br>'
		break;
	}
$('#goalImg').attr('src',goalImage);

//how well text
var doingWell="You are doing well / ";
var doingokay="You can do better / ";
var doingPoor="Not that great / ";
//color change for bars
var socialColor= 'white';
var activityColor='white';
var regularityColor='white';
var goalColor='white';
var sleepColor="white";
var glucoseColor='white';
var medicationColor="white";

if(Avg(socD)<=50){
	socialColor='#Fc4c4c';
	$('#socAvg').addClass('stripe-r');
	}
else if(Avg(socD)>=70){
	socialColor='#27dc84';
	$('#socAvg').addClass('stripe-g');}
else{
	socialColor='#f9ce20';
	$('#socAvg').addClass('stripe-y');};
	
if(Avg(actD)<=50){
	activityColor='#Fc4c4c';
	$('#actAvg').addClass('stripe-r');}
else if(Avg(actD)>=70){
	activityColor='#27dc84';
	$('#actAvg').addClass('stripe-g');}
else{
	activityColor='#f9ce20';
	$('#actAvg').addClass('stripe-y');};
	
if(Avg(regD)<=50){
	regularityColor='#Fc4c4c';
	$('#regAvg').addClass('stripe-r');}
else if(Avg(regD)>=70){
	regularityColor='#27dc84';
	$('#regAvg').addClass('stripe-g');}
else{
	regularityColor='#f9ce20';
	$('#regAvg').addClass('stripe-y');};
	
if(Avg(slpD)<=50){
	sleepColor='#fc4c4c';
	$('#slpAvg').addClass('stripe-r');}
else if(Avg(slpD)>=70){
	sleepColor='#27dc84';
	$('#slpAvg').addClass('stripe-g');}
else{
	sleepColor='#f9ce20';
	$('#slpAvg').addClass('stripe-y');};

if(Avg(gluD)<=50){
	glucoseColor='#Fc4c4c';
	$('#gluAvg').addClass('stripe-r');}
else if(Avg(gluD)>=70){
	glucoseColor='#27dc84';
	$('#gluAvg').addClass('stripe-g');}
else{
	glucoseColor='#f9ce20';
	$('#gluAvg').addClass('stripe-y');};
	
if(Avg(medD)<=50){
	medicationColor='#Fc4c4c';
	$('#medAvg').addClass('stripe-r');}
else if(Avg(medD)>=70){
	medicationColor='#27dc84';
	$('#medAvg').addClass('stripe-g');}
else{
	medicationColor='#f9ce20';
	$('#medAvg').addClass('stripe-y');};
	
if(Avg(goalD)<=50){
	goalColor='#Fc4c4c';
	$('#goalAvg').addClass('stripe-r');}
else if(Avg(slpD)>=70){
	goalColor='#27dc84';
	$('#goalAvg').addClass('stripe-g');}
else{
	goalColor='#f9ce20';
	$('#goalAvg').addClass('stripe-y');};
	
$('#socWeekScore').text(Avg(socD)).css('color',socialColor);
$('#actWeekScore').text(Avg(actD)).css('color',activityColor);
$('#regWeekScore').text(Avg(regD)).css('color',regularityColor);
$('#slpWeekScore').text(Avg(slpD)).css('color',sleepColor);
$('#goalWeekScore').text(Avg(goalD)).css('color',goalColor);
$('#medWeekScore').text(Avg(medD)).css('color',medicationColor);
$('#gluWeekScore').text(Avg(gluD)).css('color',glucoseColor);
$('#regAvgScore').text(Avg(regAvgD)).css('color',regularityColor);
$('#goalAvgScore').text(Avg(goalAvgD)).css('color',goalColor);
$('#socAvgScore').text(Avg(socAvgD)).css('color',socialColor);
$('#actAvgScore').text(Avg(actAvgD)).css('color',activityColor);
$('#slpAvgScore').text(Avg(slpAvgD)).css('color',sleepColor);
$('#medAvgScore').text(Avg(medAvgD)).css('color',medicationColor);
$('#gluAvgScore').text(Avg(gluAvgD)).css('color', glucoseColor);
$('#actGroupScore').text(Avg(actGAvgD));
$('#regGroupScore').text(Avg(regGAvgD));
$('#socGroupScore').text(Avg(socGAvgD));
$('#slpGroupScore').text(Avg(slpGAvgD));
$('#medGroupScore').text(Avg(medGAvgD));
$('#gluGroupScore').text(Avg(gluGAvgD));

$('.socialBars').css('background-color',socialColor);
$('.activityBars').css('background-color',activityColor);
$('.regularityBars').css('background-color',regularityColor);
$('.sleepBars').css('background-color',sleepColor)
$('.medicationBars').css('background-color',medicationColor)
$('.glucoseBars').css('background-color',glucoseColor)
$('.goalBars').css('background-color',goalColor)
		
// line graphs
var margin=[50,20,50,20];
var wid=620;
var height=266;
var socData = [20,74,66,86,66,82,65,67];//data entered here, must have at least 7 in one of them
var actData = [13,57,75,16,97,58];//or it will show decimals
var regData = [67,88,78,38,59,77];
var slpData = [100,56,76,23,100];
var gluData = [12,79,98,92,34];
var medData = [87,9,78,67,43];
var socGData = [100,56,76,23,100];
var actGData = [100,56,76,23,100];
var regGData = [100,56,76,23,100];
var slpGData = [10,86,72,46,70];
var gluGData = [19,97,87,95,35,78];
var medGData = [97,67,83,45,78,12];

var x = d3.scale.linear().domain([0,8]).range([0,wid]);
var y = d3.scale.linear().domain([0,100]).range([height,0]);

var Line=d3.svg.line()
	.x(function(d, i){return x(i);})
	.y(function(d, i){return y(d);});

var graphSoc=d3.select("#socLine").append("svg:svg")
	.attr("width", wid+margin[1]+margin[3])
	.attr("height",height+margin[0]+margin[2])
   .append("svg:g");
	
var graphAct=d3.select("#actLine").append("svg:svg")
	.attr("width", wid+margin[1]+margin[3])
	.attr("height",height+margin[0]+margin[2])
   .append("svg:g");
	
var graphReg=d3.select("#regLine").append("svg:svg")
	.attr("width", wid+margin[1]+margin[3])
	.attr("height",height+margin[0]+margin[2])
   .append("svg:g");
	
var graphSlp=d3.select("#slpLine").append("svg:svg")
	.attr("width", wid+margin[1]+margin[3])
	.attr("height",height+margin[0]+margin[2])
   .append("svg:g");
	
var graphGlu=d3.select("#gluLine").append("svg:svg")
	.attr("width", wid+margin[1]+margin[3])
	.attr("height",height+margin[0]+margin[2])
   .append("svg:g");
	
var graphMed=d3.select("#medLine").append("svg:svg")
	.attr("width", wid+margin[1]+margin[3])
	.attr("height",height+margin[0]+margin[2])
   .append("svg:g");
	
var xAxis = d3.svg.axis().scale(x).tickSize(-height);

graphSoc.append("svg:g")
	  .attr("class", "x axis")
	  .call(xAxis);
				  
graphReg.append("svg:g")
	  .attr("class", "x axis")
	  .call(xAxis);

graphAct.append("svg:g")
	  .attr("class", "x axis")
	  .call(xAxis);

graphSlp.append("svg:g")
	  .attr("class", "x axis")
	  .call(xAxis);
 
graphMed.append("svg:g")
	  .attr("class", "x axis")
	  .call(xAxis);
 
graphGlu.append("svg:g")
	  .attr("class", "x axis")
	  .call(xAxis);
 
var yAxisRight = d3.svg.axis().scale(y).ticks(4).orient("right");
			
graphSoc.append("svg:g")
	.attr("class","y axis")
	.attr('stroke','none')
	.call(yAxisRight);
	
graphAct.append("svg:g")
	.attr("class","y axis")
	.attr('stroke','none')
	.call(yAxisRight);
	
graphReg.append("svg:g")
	.attr("class","y axis")
	.attr('stroke','none')
	.call(yAxisRight);

graphSlp.append("svg:g")
	.attr("class","y axis")
	.attr('stroke','none')
	.call(yAxisRight);

graphMed.append("svg:g")
	.attr("class","y axis")
	.attr('stroke','none')
	.call(yAxisRight);

graphGlu.append("svg:g")
	.attr("class","y axis")
	.attr('stroke','none')
	.call(yAxisRight);

graphSoc.selectAll("line.x")
  .data(x.ticks(10))
  .enter().append("line")
  .attr("class", "x")
  .attr("x1", x)
  .attr("x2", x)
  .attr("y1", 0)
  .attr("y2", 300)
  .style("stroke", "#ccc");

graphReg.selectAll("line.x")
  .data(x.ticks(10))
  .enter().append("line")
  .attr("class", "x")
  .attr("x1", x)
  .attr("x2", x)
  .attr("y1", 0)
  .attr("y2", 300)
  .style("stroke", "#ccc");
  
graphAct.selectAll("line.x")
  .data(x.ticks(10))
  .enter().append("line")
  .attr("class", "x")
  .attr("x1", x)
  .attr("x2", x)
  .attr("y1", 0)
  .attr("y2", 300)
  .style("stroke", "#ccc");
  
graphSlp.selectAll("line.x")
  .data(x.ticks(10))
  .enter().append("line")
  .attr("class", "x")
  .attr("x1", x)
  .attr("x2", x)
  .attr("y1", 0)
  .attr("y2", 300)
  .style("stroke", "#ccc");

graphMed.selectAll("line.x")
  .data(x.ticks(10))
  .enter().append("line")
  .attr("class", "x")
  .attr("x1", x)
  .attr("x2", x)
  .attr("y1", 0)
  .attr("y2", 300)
  .style("stroke", "#ccc");

graphGlu.selectAll("line.x")
  .data(x.ticks(10))
  .enter().append("line")
  .attr("class", "x")
  .attr("x1", x)
  .attr("x2", x)
  .attr("y1", 0)
  .attr("y2", 300)
  .style("stroke", "#ccc");
  
	
graphSoc.append("svg:path").attr("d",Line(socData)).attr('stroke',socialColor).attr('stroke-width',5).attr('transform','translate(15,10)').attr('class','social');
	graphSoc.append("svg:path").attr("d",Line(socGData)).attr('stroke','black').attr('stroke-width',5).attr('transform','translate(15,10)').attr('class','social').attr('class','group');
graphAct.append("svg:path").attr("d",Line(actData)).attr('stroke',activityColor).attr('stroke-width',5).attr('transform','translate(15,10)').attr('class','activity');
	graphAct.append("svg:path").attr("d",Line(actGData)).attr('stroke','black').attr('stroke-width',5).attr('transform','translate(15,10)').attr('class','activity').attr('class','group');
graphReg.append("svg:path").attr("d",Line(regData)).attr('stroke',regularityColor).attr('stroke-width',5).attr('transform','translate(15,10)').attr('class','regularity');
	graphReg.append("svg:path").attr("d",Line(regGData)).attr('stroke','black').attr('stroke-width',5).attr('transform','translate(15,10)').attr('class','regularity').attr('class','group');
graphSlp.append("svg:path").attr("d",Line(slpData)).attr('stroke',sleepColor).attr('stroke-width',5).attr('transform','translate(15,10)').attr('class','sleep');
	graphSlp.append("svg:path").attr("d",Line(slpGData)).attr('stroke','black').attr('stroke-width',5).attr('transform','translate(15,10)').attr('class','sleep').attr('class','group');
graphGlu.append("svg:path").attr("d",Line(gluData)).attr('stroke',glucoseColor).attr('stroke-width',5).attr('transform','translate(15,10)').attr('class','medication');
	graphGlu.append("svg:path").attr("d",Line(gluGData)).attr('stroke','black').attr('stroke-width',5).attr('transform','translate(15,10)').attr('class','medication').attr('class','group');
graphMed.append("svg:path").attr("d",Line(medData)).attr('stroke',medicationColor).attr('stroke-width',5).attr('transform','translate(15,10)').attr('class','glucose');
	graphMed.append("svg:path").attr("d",Line(medGData)).attr('stroke','black').attr('stroke-width',5).attr('transform','translate(15,10)').attr('class','glucose').attr('class','group');
//questions
var questions=['.glucoseQ', '.medicationQ','.sleepQ','.stressQ','.goalQ'];
var questionBoxes=['#glucoseQuestionBox','#medicationQuestionBox','#sleepQuestionBox','#stressQuestionBox','#goalQuestionBoxes'];
var questionsOn=[true,false,true,true,true];
var questionText=['Did you check your morning glucose level?','Did you take your medication?','When did you go to bed last night?','How stressed do you feel?',goalQuestion];
var unansweredQ=0
var number=1
for(q=0;q<questions.length;q++){
	if(questionsOn[q]){
		$(questions[q]+"Num").text(number+". ");
		$("div"+questions[q]).text(questionText[q]);
		console.log(number+". "+ questionText[q]);
		number++;
		unansweredQ++
	}
	else{
		$(questions[q]).hide();
		$(questionBoxes[q]).hide();
		console.log("hiding"+ questionBoxes[q]);
	}
}
if(questionsOn[4]){
	$('.goalOptions').append(goalOptions);
}
//button click stuff
$(window).bind('load',function(){		
	$('.social').show();	});

$('.sButton').click(function(){//show side bar
	$('.navigation').toggle('fast');
	$("#content").toggleClass('sideOut','fast');
	$("#middleWhite").toggleClass('sideOut','fast');
	$(".sButton").toggleClass('sideOut','fast');
	$(".date").toggleClass('sideOut','fast');
	$(".divider").toggleClass('sideOut','0');
	$(".dividerText").toggleClass('sideOut','0');
	$("#shadowBar").toggleClass('sideOut','0');
	});

$('#gButton').click(function(){//show group
	$('.group').toggle('fast');
	$('.groupText').toggle('fast');
	$(".groupBackground").toggle('fast');
	$(".groupScore").toggle('fast');
	});
//questions

if (unansweredQ==0){
	$('#questions').hide();
	$('#questionsAnswered').show();
	}
	else{
	$('#questionsAnswered').hide();
	$('#questions').show();
	}
	
// side tab workings
	$('.Graph').show("fast");
	$('.lineLabel').show("fast");
	$('.lineBack').show("fast");
	$('#gButton').show("fast");
	$('#gButtonText').show("fast");
	$(".tab").show("fast");
	$('.border').show('fast');
	$('.lineGraph').show('fast');

var allBarsAvg=[Avg(socD),Avg(actD),Avg(regD), Avg(slpD), Avg(goalD), Avg(gluD), Avg(medD)];
var barFilled=Math.round((Avg(allBarsAvg)/20));

if(barFilled>=4){
	var splashColor='#27dc84';
	$('#splashEncourage1').text('Keep going,');
	$('#splashEncourage2').text('You are doing great!');
	$('#splashHeart').attr('src','/static/mgh/SmartCatch_design_app/Img/splashScreen/goodheart.png')
	}
else if(barFilled>=2){
	var splashColor='#f9ce20';
	$('#splashEncourage1').text('Almost there,');
	$('#splashEncourage2').text('Keep working on!');
	$('#splashHeart').attr('src','/static/mgh/SmartCatch_design_app/Img/splashScreen/mediumheart.png')
	}
else{
	var splashColor='#FF5f5f';
	$('#splashEncourage1').text('You can do better,');
	$('#splashEncourage2').text('Keep trying!');
	$('#splashHeart').attr('src','/static/mgh/SmartCatch_design_app/Img/splashScreen/badheart.png')
};

var rectColor=splashColor;
$('#splash').css('background-color',splashColor);
$('#splashHead').css('background-color', splashColor);

for(fill=1; fill<=barFilled; fill++){
	var barFilling= "#bar" + fill ;
	$(barFilling).attr('src','/static/mgh/SmartCatch_design_app/Img/splashscreen/fullbar.png');
	};
//for(notfill=5; notfill=(5-barFilled); notfill-=1){
//	var barEmpty ="#bar" +notfill;
//	$(barEmpty).atr
//};

</script>
{% endblock %}
