{% extends "backboneLayout.html" %}


{% block more_scripts %}

  <script src="{{ STATIC_URL }}js/jQuery.ui.datepicker.js"></script>
     <link rel="stylesheet" href="{{ STATIC_URL}}css/jquery.ui.datepicker.mobile.css" /> 
  <script src="{{ STATIC_URL }}js/jquery.ui.datepicker.mobile.js"></script>
      
<script src="http://d3js.org/d3.v2.js"></script>

<script>
    ANSWERLIST_API_URL = "{% url api_dispatch_list api_name="personal_data" resource_name="answerlist" %}";
    ANSWERLIST_KEY = "socialhealth";
</script>

<script src="{{ STATIC_URL}}js/answerList.js"></script>
<script src="{{ STATIC_URL }}js/socialHealthRadial.js"></script>

<script>
$(function () {
	window.radialApp = new SocialHealthRadialView();
	window.answerRating = new AnswerRatingTextView({ el: "#answer_rating", key: "socialHealthAnswerRating" })l;
	$(window).bind("resize", function () { radialApp.render(); });
});
</script>

{% endblock %}

{% block content %}

<div id="radial_chart"></div>
<div id="answer_rating"></div>

{% endblock %}
