{% extends "backboneLayout.html" %}

{% block title %}
Recent Social
{% endblock %}

{% block more_scripts %}
<script src="http://d3js.org/d3.v2.js"></script>

<script>
    ANSWERLIST_API_URL = "{% url api_dispatch_list api_name="personal_data" resource_name="answerlist" %}";
    ANSWERLIST_KEY = "RecentSocialByHour";
    ANSWERLIST_VALUE_SELECTOR = function (a) { return a.social; };
</script>

<script src="{{ STATIC_URL}}js/answerList.js"></script>
<script src="{{ STATIC_URL }}js/answerListTimeGraph.js"></script>

<script>
$(function () {
    window.activityGraph = new AnswerByHourGraph();
    $(window).bind("resize", function () { activityGraph.render(); });
});
</script>
{% endblock %}

{% block content %}
<div class="answerContent">
    <div id="answerByHourGraphContainer">
    <h2>Recent Social Levels</h2>
    </div>
</div>
{% endblock %}
