{% extends "backboneLayout.html" %}
{% load straight_include %}

{% block more_scripts %}
        <script>
                SHARING_API_URL = "{% url api_dispatch_list api_name="personal_data" resource_name="sharing" %}";
        </script>

        <script type="text/html" id="sharingTemplate">
                {% straight_include "sharing/sharingTemplate.mustache" %}
        </script>


        <script src="/static/js/sharing.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/sharing.css">
{% endblock %}

{% block content %}
<div class="content_container">

        <div class="form_container">
                <form>
                <h2>Sharing Settings</h2>
                <div id='sharing' class="sharingContainer">
                </div>
<!--                <h2>Existing Profiles</h2>
                <ul id='profileList' class="profileContainer">
                </ul>-->
                </form>
        </div>
</div>

{% endblock %}

