{% extends "base.html" %}
{% block content %}

      <div class="hero-unit">
        <div>
          <h1>
            Hello, Welcome to your PDS!
          </h1>
          <p>
            This is your personal data store homepage!&nbsp; Please explore.
            <br>
          </p>
        </div>
      </div>
      <div class="well">
        <div>
          <h1>
            Install Funf Journal
          </h1>
          <p>
            Clicking here will guide you through the Funf Journal setup process.
          </p>
        </div>
      </div>
      <div class="well">
        <div>
          <h1>
            Install Reality Analysis
          </h1>
          <p>
            Get access to your health triangle.
          </p>
        </div>
      </div>
      <div class="span1">
      </div>
    </div>
{% endblock %}

