<div id="Container{{ id }}">
	<input type="checkbox" value="{{ id }}" id="{{ id }}" class="roleCheckBox" /> 
	<label for="{{ id }}">{{ name }}</label>
	<ul>
		{{#ids}}
		<li>{{.}}</li>
		{{/ids}}
	</ul>
</div>
