{% load straight_include %}
{% load verbatim %}
{% load crocodile %}

<html>

  <head>
      <title>
          {% block title %}
          Clinician Portal
          {% endblock %}
      </title>

      <script src="/static/mgh/clinician-components/webcomponentsjs/webcomponents.js"></script>
      <link rel="import" href="/static/mgh/clinician-components/font-roboto/roboto.html" rel="import">
      <link rel="import" href="/static/mgh/clinician-components/core-collapse/core-collapse.html" rel="import">
      <link rel="import" href="/static/mgh/clinician-components/core-menu/core-menu.html" rel="import">
      <link rel="import" href="/static/mgh/clinician-components/core-toolbar/core-toolbar.html" rel="import">
      <link rel="import" href="/static/mgh/clinician-components/core-icon-button/core-icon-button.html" rel="import">
      <link rel="import" href="/static/mgh/clinician-components/paper-dropdown/paper-dropdown.html" rel="import">
      <link rel="import" href="/static/mgh/clinician-components/paper-item/paper-item.html" rel="import">
      <link rel="import" href="/static/mgh/clinician-components/paper-dropdown-menu/paper-dropdown-menu.html" rel="import">


	    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	    {% block jquerymobile %}
	    <script src="//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.2/jquery.mobile.min.js"></script>
	    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.2/jquery.mobile.min.css" />
	    {% endblock %}

      <script src="http://d3js.org/d3.v3.min.js"></script>
      <link rel="stylesheet" href="{{ STATIC_URL }}/mgh/contents/clinician-stylesheet.css" />

      {% block css %}
      {% endblock %}


	    {% block scripts %}
	    {% endblock %}

	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="">
	    <meta name="author" content="">

  </head>
  <body>
      <!-- Page starts here -->
      <div data-role="page" data-theme="a" id="pageDiv">

          <core-toolbar id="title-bar">
              <core-icon-button icon="menu"></core-icon-button>
              <div layout horizontal justified center id="title-bar-div">
                  <div flex three id="logo">
		                  <img src="/static/mgh/SmartCatch_design_app/Img/general/Logo_blue.png"/>
                  </div>

                  <div self-end>
                      <div layout horizontal center justified>
                          <div id="patient-select">
                              <paper-dropdown-menu label="Select a Patient">
                                  <paper-dropdown class="dropdown">
                                      <core-menu class="menu">
                                          <paper-item>Patient 1</paper-item>
                                          <paper-item>Patient 2</paper-item>
                                      </core-menu>
                                  </paper-dropdown>
                              </paper-dropdown-menu>
                          </div>
                          <div id="overview-link">
                              <a href="/clinician/group_overview">Group Overview</a>
                          </div>
                      </div>
                  </div>
              </div>
              


          </core-toolbar>

          <div id="content" data-role="content" style="padding: 0px">
              <div class="scontainer">
                  {% block content %}
                  {% endblock %}
              </div>
          </div>
      </div>
  </body>

  <script type="text/javascript" src="http://cdn.rawgit.com/jashkenas/coffeescript/master/extras/coffee-script.js"> </script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.6.3/d3-tip.min.js"></script>
</html>
