{% extends "clinician/clinician_base.html" %}
{% load verbatim %}

{% block content %}


<div class="scontainer">
    <div horizontal center-justified layout id="group-overview">
        <div layout vertical id="group-charts">
            <div layout horizontal>
                <div flex self-center>
                    <span id="group-overview-title">Group General Overview</span>
                </div>
                {% verbatim %}
                <div id="agg-select" self-start>
                    <polymer-element name="agg-select" attributes="aspects">
                        <template>
                            <style>
                             #label {
                                 padding-right: 10px;
                                 color: #757575;
                             }
                             #agg {
                                 max-height: 300px;
                                 overflow: scroll;
                             }
                            </style>
                            <span id="label">Show me:</span>
                            <paper-dropdown-menu label="All Categories" name="agg-dropdown">
                                <paper-dropdown class="dropdown">
                                    <core-menu class="menu" id="agg" valueattr="name" name="agg-select" on-core-select="{{selectAction}}" selected="{{selectedAspect}}">
                                        <template repeat="{{aspect in aspects}}">
                                            <paper-item name="{{aspect}}" label="{{aspect}}">{{aspect}}</paper-item>
                                        </template>
                                    </core-menu>
                                </paper-dropdown>
                            </paper-dropdown-menu>
                        </template>
                        <script>
                         Polymer('agg-select', {
                             aspects: Object.keys(aggregate_data),

                             selectAction: function(e, detail) {
                                 changeAggCharts(detail.item.attributes.name.value);
                             },
                         });
                        </script>
                    </polymer-element>
                    
                    <agg-select></agg-select>
                </div>
                {% endverbatim %}
            </div>
        </div>
    </div>

    <hr>

    <div layout vertical id="patients">
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
 var participant_data = {{participant_data|safe}};
 console.log("participant data:", participant_data);
 var aggregate_data = {{aggregate_scores|safe}};
 console.log(aggregate_data);
 var status = "{{status|safe}}";
</script>
<script type="text/coffeescript" src="/static/mgh/contents/clinician_group_overview.coffee"></script>

{% endblock %}
