{% extends "clinician/clinician_base.html" %}

{% block content %}


<div class="scontainer">
    <div horizontal center-justified layout id="group-overview">
        <div layout vertical>
            <h2> Group Overview </h2>
            <div flex id="group-chart"> </div>
        </div>
    </div>

    <hr>

    <div layout vertical id="patients">
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
 var participant_data = {{participant_data|safe}};
 console.log("participant data:", participant_data);
 var aggregate_data = {{aggregate_scores|safe}};
 console.log(aggregate_data);
 var status = "{{status|safe}}";
</script>
<script type="text/coffeescript" src="/static/mgh/contents/clinician_group_overview.coffee"></script>

{% endblock %}
