{% extends "clinician/clinician_base.html" %}

{% block content %}


<div horizontal center-justified layout id="group-overview">
    <div layout vertical>
        <h2> Group Overview </h2>
        <div flex id="group-chart"> </div>
    </div>
</div>

<hr>

<div layout vertical id="patients">
</div>

{% endblock %}

{% block scripts %}
<script>
    var participant_data = {{participant_data|safe}};
    console.log(participant_data);
</script>
<script type="text/coffeescript" src="/static/mgh/contents/clinician_portal.coffee"></script
{% endblock %}
