<div>
Overall Sharing Level
<input
        type="text"
        class="profileAttribute"
        profileFieldName="overallsharinglevel.level"
        value="{{ overallsharinglevel.level }}" />
</div>

<div class="ui-radio">
<label for="id_sharinglevel_0" data-corners="true" data-shadow="false" data-iconshadow="true" data-wrapperels="span" data-icon="radio-off" data-theme="c" class="ui-btn ui-btn-corner-all ui-btn-icon-left ui-radio-off ui-btn-up-c">
<span class="ui-btn-inner ui-btn-corner-all">
<span class="ui-btn-text"> 0</span>
<span class="ui-icon ui-icon-radio-off ui-icon-shadow">&nbsp;</span>
</span>
</label>
<input class="sharingAttribute" type="radio" id="id_sharinglevel_0" profileFieldName="overallsharinglevel.level" value="{{ overallsharinglevel.level" name="sharinglevel">
</div>

<div>
<input
        type="button"
        class="saveSharingButton"
        value="save" />
</div>
<div></div>

