# XXX add specific version numbers once we can confirm the latest stable versions all work
django
pycrypto
pymongo
PyMySQL
django-extensions
configglue
-e git://github.com/illumin-us-r3v0lution/django-configglue.git#egg=django_configglue
