html,body {
	background-color:#f6f6f6

}
core-header-panel {
	height: 100%;
}

paper-tabs {
	width: 100%;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.scontainer {
	width: 75%;
	margin: 50px auto;
	font-family: 'RobotoDraft', sans-serif;
  color: #1A2F46
}


.d3-tip {
  padding: 12px;
  background: rgba(26, 47, 70, 0.80);
  color: #fff;
  border-radius: 2px;
	font-family: 'RobotoDraft', sans-serif;
  font-size: 1em;
  font-weight: 300;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  width: 100%;
  line-height: 1;
  color: rgba(26, 47, 70, 0.80);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.bar rect {
  shape-rendering: crispEdges;
}

#title-bar {
  background-color: #fff;
}

#title-bar-div {
  width: 100%;
}

#logo {
  max-width: 300px;
  padding-right: 30px;
}

#patient-select {
  padding-right: 30px;
  padding-left: 30px;
}

#overview-link a {
  color: rgba(26, 47, 70, 0.80);
  border-bottom: 1px solid rgba(26, 47, 70, 0.80);
  padding-bottom: 10px;
  text-decoration: none;
}

a:link {
  color: rgba(26, 47, 70, 0.80);
  text-decoration: none;
}

a:hover {
  color: rgba(26, 47, 70, 1);
}

#spacer {
  min-width: 100px;
}

#group-chart {
  /* border-style: solid; */
  /* border-width: 2px; */
  /* border-color: #c5c5c5; */
  min-height: 300px;
  min-width: 700px;
}

#group-overview {
  margin-bottom: 5%;
}

#patients {
  min-width: 800px;
  min-height: 800px;
  /* border-style: solid; */
  /* border-width: 2px; */
  /* border-color: #c5c5c5; */

  margin-top: 5%;
}

.patient {
  margin-bottom: 30px;
}

.patient-name {
  margin-bottom: 5px;
  margin-top: 10px;
}

.arc path {
  stroke: #f6f6f6;
  stroke-width: 3px;
}

.status path {
  stroke: #f6f6f6;
  stroke-width: 3px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #c5c5c5;
  shape-rendering: crispEdges;
}

.y line {
  display: none;
}

.pie {
  padding-bottom: 10px;
}

.axis text {
    color: #fff;
}

.patient-dropdown {
  min-width: 200px;
  min-height: 50px;
  color: #000;
}
