{% extends "backboneLayout.html" %}

{% block title %}
MIT-FIT
{% endblock %}

{% block more_scripts %}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script>
    ANSWERLIST_API_URL = "{% url api_dispatch_list api_name="personal_data" resource_name="answerlist" %}";
</script>

<script src="{{ STATIC_URL}}js/answerList.js"></script>
<script src="{{ STATIC_URL }}js/mitfit_user_location.js"></script>
<script src="{{ STATIC_URL }}js/urlEncode.js"></script>
<script src="{{ STATIC_URL }}js/jquery.sparql.js"></script>

<script type="text/javascript" src="http://sharonmyrtle.com/Heatmaps/heatmap.js"></script>
<script type="text/javascript" src="http://sharonmyrtle.com/Heatmaps/heatmap-gmaps.js"></script>

   
<script>
$(function () {

    $("input[name=entity]:radio").change(function () {
        if ($("#user").attr("checked")) {
    	    window.answerListMap = new AnswerListMap("recentSimpleLocationProbeByHour", "recentActivityProbeByHour", "answerListMapContainer", true, "user");
    $(window).bind("orientationchange resize pageshow", answerListMap.updateSize);
    $("#plus").live('click', answerListMap.zoomIn);
    $("#minus").live('click', answerListMap.zoomOut);
        }
        else {
	    window.answerListMap = new AnswerListMap("activeLocations", "activityStats", "answerListMapContainer", true, "average");
    $(window).bind("orientationchange resize pageshow", answerListMap.updateSize);
    $("#plus").live('click', answerListMap.zoomIn);
    $("#minus").live('click', answerListMap.zoomOut);
        }
    });    

    window.answerListMap = new AnswerListMap("recentSimpleLocationProbeByHour", "recentActivityProbeByHour", "answerListMapContainer", true, "user");
    $(window).bind("orientationchange resize pageshow", answerListMap.updateSize);
    $("#plus").live('click', answerListMap.zoomIn);
    $("#minus").live('click', answerListMap.zoomOut);
    
});
</script>

    <style type="text/css">
        #answerListMapContainer {
            width: 575px;
            height: 350px;
        }
    </style>


{% endblock %}

{% block content %}

<div id="answerListMapContainer"></div>
<!--<label>Render map for</label>-->  
<center>
 <fieldset data-role="controlgroup" data-type="horizontal">     
 <input data-mini="true" type="radio" name="entity" id="user" value="" checked="checked"/>
 <label for="user">Me</label>
 <input data-mini="true"  type="radio" name="entity" id="average" value="choice-1"  />
 <label for="average">Everyone</label>
</fieldset>
</center>

<div id="footer" data-role="footer">
</div>

{% endblock %}
